<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
</head>
<body onload="loadReports()">
<div class="container">
    <div th:replace="admin-panel/fragments/navbar :: navbar"></div>

    <div id="dashboard" class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight" style="width: 30%">
            <div class="card text-white bg-success mb-3" style="width: 100%;">
                <div class="card-header">Successfully</div>
                <div class="card-body" id="successBody">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-grow text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight" style="width: 30%">
            <div class="card text-white bg-primary mb-3" style="width: 100%;">
                <div class="card-header">/vaxtlar</div>
                <div class="card-body" id="vaxtlarBody">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-grow text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight" style="width: 30%">
            <div class="card text-white bg-danger mb-3" style="width: 100%;">
                <div class="card-header">Failed</div>
                <div class="card-body" id="failedBody">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-grow text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <caption th:text="'Total Elements/Pages : ' + ${actions.getTotalElements()} + '/' + ${actions.getTotalPages()} + ', ' +
                          'Count on this page : '+ ${actions.getContent().size()}"></caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Telegram ID</th>
            <th scope="col">Command</th>
            <th scope="col">Created at</th>
            <th scope="col">Message</th>
            <th scope="col">Status</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="action: ${actions.getContent()}">
            <th scope="row" th:text="${actionStat.index + 1}"></th>
            <td th:text="${action.id}"></td>
            <td th:text="${action.userTelegramId}"></td>
            <td th:text="${action.command}"></td>
            <td>
                <span th:text="${#temporals.format(action.createdAt,'dd-MM-yyyy HH:mm')}"></span>
                <span th:if="${#temporals.day(action.createdAt) == #dates.day(#dates.createToday())} "
                      class="badge rounded-pill bg-primary">New</span>
            </td>
            <td th:text="${action.message}"></td>
            <td>
                <span th:if="${action.status == 1}" class="badge rounded-pill bg-success">Success</span>
                <span th:unless="${action.status == 1}" class="badge rounded-pill bg-danger">Failed</span>
            </td>
            <td>
                <button type="button" class="btn btn-outline-success btn-sm"
                        th:id="${'getTelegramInfoButtonId' + action.userId}"
                        th:attr="data-user_telegram_id=${action.userTelegramId}"
                        th:onclick="'javascript:showTelegramInfoModal('+ ${action.userId} +')'">
                    <i class="fab fa-telegram"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item" th:classappend="${actions.first} ? 'disabled'">
                <a class="page-link" href="#" tabindex="-1"

                   th:href="@{'/admin/monitor?p='+${actions.previousOrFirstPageable().getPageNumber()}}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:if="${!actions.first}"
                   th:text="${actions.previousOrFirstPageable().getPageNumber()} + 1"
                   th:href="@{'/admin/monitor?p='+${actions.previousOrFirstPageable().getPageNumber()}}">
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link"
                   th:text="${actions.getPageable().getPageNumber()} + 1"
                   th:href="@{'/admin/monitor?p='+${actions.getPageable().getPageNumber()}}">
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:if="${!actions.last}"
                   th:text="${actions.nextOrLastPageable().getPageNumber() + 1}"
                   th:href="@{'/admin/monitor?p='+${actions.nextOrLastPageable().getPageNumber()}
                   + '&sort=' + ${sortParam}}">
                </a>
            </li>
            <li class="page-item" th:classappend="${actions.last} ? 'disabled'">
                <a class="page-link" href="#"
                   th:href="@{'/admin/monitor?p='+${actions.nextOrLastPageable().getPageNumber()}}">Next</a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" id="telegramInfoModal" tabindex="-1" aria-labelledby="telegramInfoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="telegramInfoModalLabel">User Telegram Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 bd-highlight">
                            <img src="" alt="" width="128" height="128" class="d-inline-block rounded-circle"
                                 id="telegramInfoPhotoUrlImg">
                        </div>
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <div class="mb-3">
                                <label for="telegramInfoFirstNameInput" class="form-label">First name</label>
                                <input type="text" class="form-control" id="telegramInfoFirstNameInput" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="telegramInfoLastNameInput" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="telegramInfoLastNameInput" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="telegramInfoUsernameInput" class="form-label">@username</label>
                                <input type="text" class="form-control" id="telegramInfoUsernameInput" readonly>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function loadReports(){

        const request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (request.readyState === 4) {
                if (request.status === 200) {
                    const response = request.response;
                    document.getElementById("successBody").innerHTML =
                        "<h5 class=\"card-title\">Total count is <span id=\"successCount\"></span></h5>\n" +
                        "<p class=\"card-text\">Total <span id=\"successCountUnique\"></span> unique users</p>";
                    document.getElementById("vaxtlarBody").innerHTML =
                        "<h5 class=\"card-title\">Total count is <span id=\"vaxtlarCount\"></span></h5>\n" +
                        "<p class=\"card-text\">Total <span id=\"vaxtlarCountUnique\"></span> unique users</p>";
                    document.getElementById("failedBody").innerHTML =
                        "<h5 class=\"card-title\">Total count is <span id=\"failedCount\"></span></h5>\n" +
                        "<p class=\"card-text\">Total <span id=\"failedCountUnique\"></span> unique users</p>"
                    document.getElementById("successCount").innerHTML = response.success.used;
                    document.getElementById("successCountUnique").innerHTML = response.success.uniqueUsersCount;
                    document.getElementById("failedCount").innerHTML = response.failed.used;
                    document.getElementById("failedCountUnique").innerHTML = response.failed.uniqueUsersCount;
                    document.getElementById("vaxtlarCount").innerHTML = response.commandVaxtlar.used;
                    document.getElementById("vaxtlarCountUnique").innerHTML = response.commandVaxtlar.uniqueUsersCount;
                } else {
                    console.log("error")
                }
            }
        }
        request.responseType = "json";
        request.open('Get', '/admin/api/monitor/');
        request.send();
    }

    function showTelegramInfoModal(userId) {
        const userTgId = document
            .getElementById("getTelegramInfoButtonId" + userId)
            .getAttribute("data-user_telegram_id");

        const request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (request.readyState === 4) {
                if (request.status === 200) {
                    const response = request.response;
                    document.getElementById("telegramInfoFirstNameInput").value = response.firstName;
                    document.getElementById("telegramInfoLastNameInput").value = response.lastName;
                    document.getElementById("telegramInfoUsernameInput").value = response.username;
                    document.getElementById("telegramInfoPhotoUrlImg").src = response.photoUrl;
                    showModal("telegramInfoModal")
                } else {
                    console.log("error")
                }
            }
        }
        request.responseType = "json";
        request.open('Get', '/admin/api/users/' + userTgId);
        request.send();
    }

    function showModal(id) {
        const myModal = new bootstrap.Modal(document.getElementById(id));
        myModal.show()
    }
</script>
</body>
</html>